<h2>Write new document</h2>

<.form let={f} for={@changeset} phx-change="validate" phx-submit="save">
  <%= label f, :title %>
  <%= text_input f, :title, phx_debounce: "blur" %>
  <%= error_tag f, :title %>

  <%= label f, :content %>
  <%= textarea f, :content, phx_debounce: "blur" %>
  <%= error_tag f, :content %>

  <div>
    <%= submit "Post", phx_disable_with: "Posting..." %>
  </div>
</.form>

<span><%= live_redirect "Back", to: Routes.document_index_path(@socket, :index) %></span>